@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5a4af4;
}

html {
  color: #c3c8d4;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

.headings-h1 {
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5rem; /* 125% */
  letter-spacing: -0.08rem;
}

.links-regular {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;

  font-weight: 600;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.02rem;
}

.links-small {
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0175rem;
}

.buttons-default {
  border-radius: 0.75rem;
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
}

.body-regular {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.img-background {
  z-index: 1;
  background: #eee;
  width: 100px;
  height: 10px;
}
.img-background:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid magenta;
}

.card-hover-effect img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card-hover-effect:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
